<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div>
    <header class="header">
      <nav>
        <a href="/login" class="login">login</a>
        <button id="logout" class="btn-no-style">logout</button>
      </nav>
      <h1>
        <a href="/" class="tech-blog">The Tech Blog</a>
      </h1>
    </header>
    </div>
    <div>
    <main>
      {{{ body }}}
    </main>
    </div>

    <footer>
      Thanks for visiting!
    </footer>

<script src="/javascript/logout.js"></script>
</body>
</html>