body {
  background: #ccc;
}

.header {
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/000/677/302/small/abstract-technology-banner-background.jpg);
  opacity: 0.75;
  padding: 30px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
}

nav {
  text-align: end;
}

a.tech-blog,
a.login {
  color: white;
  text-decoration: none;
}

.title {
  font-size: larger;
  line-height: 145%;
  /* align-content: space-between; */
}

/* main {
  background: #ccc;
} */

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

form.login-form,
form.signup-form {
  text-align: center;
  padding: 2%;
}

.container {
  display: flex;
  flex-direction: column;
}

.container__main {
  /* Take the remaining height */
  flex-grow: 1;

  /* Layout the left sidebar, main content and right sidebar */
  display: flex;
  flex-direction: row;
}

.container__left {
  width: 25%;
}

.container__middle {
  /* Take the remaining width */
  flex-grow: 1;
}

.container__right {
  width: 20%;
}

.btn-no-style {
  background: black;
  color: white;
  border-radius: 25px;
  font-size: 15px;
  border: none;
  text-decoration: none;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  background-color: rgb(9, 35, 112);
  color: white;
  font-size: 110%;
}